.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 800;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  border-radius: 5px;
}

.model.open .icon_modal {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  cursor: pointer;
}

.icon_modal:hover {
  border: 1.2px solid red;
  background-color: lightcoral;
}
