.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.301);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 790;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  border-radius: 5px;
}

.model.open .close_icon {
  position: fixed;
  top: 8rem;
  right: 7rem;
  cursor: pointer;
}

.edit_landmark_link {
  transform: translateX(-30px);
  font-size: large;
  color: rgb(0, 0, 0);
}

.container_links {
  width: 300px;
  height: 400px;
  display: flex;
  background-color: beige;
  margin: 0 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(150px);
  border-radius: 10px;
  border: 0.5px solid whitesmoke;
}

.deleteModal {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 700px;
  right: 50px;
  background-color: rgb(0, 0, 0);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  z-index: 999;
}

.deleteModal.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.bin_icon {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.modal_img {
  width: 200px;
  margin: 0 2em;
  max-width: fit-content;
}

/* ___________________________________________________________________
*/

.close_icon a {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-top: -50px;
  margin-right: -50px;
  background-color: #ffffff;
  border-radius: 50px;
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(247, 149, 29, 0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(247, 149, 29, 0.5);
  box-shadow: 0px 0px 30px 0px rgba(247, 149, 29, 0.5);
}
.close_icon a > span {
  background-color: #f5a700;
  display: block;
  height: 12px;
  border-radius: 6px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 18px;
  width: 64px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
.close_icon a > span span {
  display: block;
  background-color: #ed7f00;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  left: 0;
  top: 0;
}
.close_icon a > span.left {
  transform: rotate(45deg);
  transform-origin: center;
}
.close_icon a > span.left .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
.close_icon a > span.left .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close_icon a > span.right {
  transform: rotate(-45deg);
  transform-origin: center;
}
.close_icon a > span.right .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
.close_icon a > span.right .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close_icon a:hover > span {
  background-color: #2faee0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.close_icon a:hover > span span {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #008ac9;
}
.close_icon a:hover > span.left .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close_icon a:hover > span.left .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
.close_icon a:hover > span.right .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close_icon a:hover > span.right .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
