@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Oswald:wght@300&family=Radio+Canada&family=Raleway:wght@100;300&family=Roboto&display=swap");

.image_tile {
  width: 550px;
  height: 530px;
  margin: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgb(243, 239, 239);
}

.dashboard_header {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  color: white;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
