.main_div {
  background-image: url("../../../public/images/Aztec.jfif");
  position: relative;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 92vh;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:wght@100;300&display=swap");
/*
  animation
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(39, 43, 39);
  /* overflow-y: hidden; */
}

.slideshow {
  width: 100%;
  height: 91vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}

/* .slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 31s infinite;
} */

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}

.slideshow-item-text {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10rem 5rem;
}

.slideshow-item-text h5 {
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}

.slideshow-item-text p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 1000px) {
  .slideshow-item-text {
    max-width: 70%;
    padding: 5rem 1rem;
  }
  .slideshow-item-text h5 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .slideshow-item-text {
    max-width: 100%;
    padding: 2rem;
    top: initial;
    bottom: 0;
    transform: initial;
  }
  .slideshow-item-text h5 {
    font-size: 3rem;
  }

  .slideshow-item-text p {
    font-size: 1.4rem;
  }
}

/*
animation ^^
*/

.main_footer {
  position: absolute;
  transform: translateY(-41px);
  width: 100%;
  background-color: black;
}

.footer_container {
  background-color: #000;
  position: relative;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0 auto;
  width: 95%;
  display: block;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
}

.footer_top_row {
  display: flex;
  padding: 16px 0;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  line-height: 1.2em;
}

.footer_ul {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  padding-bottom: 4.5px;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.575);
  border-bottom-left-radius: 0.5px;
  border-bottom-right-radius: 0.5px;
  align-items: center;
  list-style: none;
  margin: 0;
  color: hsla(0, 0%, 100%, 0.6);
}

.footer_bot_ul {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  padding: 2px;
  color: hsla(0, 0%, 100%, 0.6);
}

.fa-github {
  margin-right: 10px;
  width: 25px;
}

.fa-linkedin {
  width: 30px;
}
