@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Radio+Canada&family=Raleway:wght@100;300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Radio+Canada&family=Raleway:wght@100;300&family=Roboto&display=swap");

.reviews_container {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  border-radius: 10px;
  height: 300px;
  overflow-y: scroll;
  transition: 1s;
}

.reviews_container:hover {
  transform: translateX(10px);
}

.map_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56vh;
}

/* .google_map_div {
  margin: 10px;
} */

.gm-style {
  margin: 10px;
}

.review_description_main_container {
  display: flex;
}

.landmark_description_container {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 1s;
  width: 80%;
}

.landmark_description_container:hover {
  transform: translateX(-20px);
}

.landmark_description {
  padding: 20px;
  font-size: 16px;
  text-indent: 30px;
  font-family: "Radio Canada";
  font-weight: 100;
}

.landmark_description_p {
  font-size: small;
  color: rgb(0, 162, 255);
}

.landmark_description_header {
  font-family: "Radio Canada", sans-serif;
  background-color: rgb(86, 111, 252);
  border-bottom: 1.5px solid black;
  color: whitesmoke;
  border-top: 10px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reviews_header {
  font-family: "Radio Canada", sans-serif;
  background-color: rgb(86, 111, 252);
  border-bottom: 1.5px solid black;
  color: whitesmoke;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

::-webkit-scrollbar {
  width: 4px;
  cursor: pointer;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(55, 139, 189);
  border-radius: 8px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: teal;
}

.image_landmark {
  border-radius: 10px;
  height: 500px;
  margin-left: 80px;
  transition: 1s;
}

.image_landmark:hover {
  transform: translateX(-25px);
}

.review {
  font-family: "Radio Canada";
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  width: fit-content;
}

.review:hover {
  background-color: rgb(238, 236, 236);
}
