.error {
  font-size: small;
  color: red;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.label_form {
  font-size: small;
  color: rgb(0, 171, 250);
}

/*

//////////////////////////////////


*/
.error_container {
  margin-bottom: 10px;
}

.error_container_div {
  display: flex;
}
