.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 4;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  margin: 0 0.1em;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  opacity: 0.7;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  border-radius: 5px;
}

.gallery .pics:hover {
  /* filter: opacity(1); */
  opacity: 1;
}

.gallery_div:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.2);
}

.gallery_pic {
  border-radius: 5px;
}

.gallery_header:hover {
  color: rgb(12, 12, 12);
}

.modal_link {
  transform: translateX(-60px);
  font-size: large;
  color: rgb(0, 0, 0);
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

/*model*/

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 800;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  border-radius: 5px;
}

.model.open .icon_modal {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  cursor: pointer;
}

.icon_modal:hover {
  border: 1.2px solid red;
  background-color: lightcoral;
}

.gallery_underline {
  margin-top: 0.8em;
  border-bottom: 1px solid white;
  opacity: 0.8;
}

.gallery_header {
  display: flex;
  /* position: absolute; */
  justify-content: center;
  /* transform: translateY(-180px); */
  transform: translate3d(0px, -180px, 0px);
  z-index: 999;
  color: white;
}
