@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");

.review {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: large;
  text-indent: 25px;
  padding: 30px;
}

.review_user {
  font-size: small;
  padding: 30px;
  font-weight: bolder;
  width: 300px;
  transform: translateX(30px);
}

.review_link {
  width: auto;
  color: rgb(1, 37, 238);
}

.review_link_container {
  /* background-color: red; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
}

.review_link_main_container {
  width: auto;
  display: flex;
  justify-content: flex-end;
}
