@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");

.review {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: large;
  text-indent: 25px;
  padding: 30px;
}

.review_user {
  font-size: small;
  padding: 30px;
  font-weight: bolder;
  width: 300px;
  transform: translateX(30px);
}

.review_link {
  width: auto;
  color: rgb(1, 37, 238);
}

.review_link_container {
  /* background-color: red; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-left: 11px;
}

.review_link_main_container {
  width: auto;
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
}

.review_edit_button {
  margin-right: 5px;
}

.review_edit_button {
  margin-right: 5px;
}

.review_edit_button {
  -webkit-appearance: none;
  border: 1px solid #0077b4;
  padding: 10px;
  border: none;
  background-color: #4556b4;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 90%;
  transform: translateX(-8px);
}

.review_edit_button:hover {
  background-color: rgb(241, 132, 58);
  color: rgb(8, 255, 8);
  cursor: pointer;
}

.edit_button_link_review {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.edit_button_link_review:hover {
  color: white;
}

/* CSS for post new review link. */
