@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");

.review {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: large;
  text-indent: 25px;
  padding: 30px;
}

.review_user {
  font-size: small;
  padding: 30px;
  font-weight: bolder;
  width: 300px;
  transform: translateX(30px);
}
