.review_edit_main_container {
  width: 500px;
  height: 260px;
  background-color: beige;
  border-radius: 8px;
}

.review_edit_form_image {
  width: 550px;
  max-height: 800px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  margin-right: 30px;
  /* margin-bottom: 30px; */
}

.review_edit_form_superdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/Burj\ Khalifa.jpg");
  position: relative;
  background-position: bottom;
  background-size: cover;
  height: 94.5vh;
  overflow: hidden;
}

.review_post_form_superdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/grand_canyon.jpg");
  position: relative;
  background-position: bottom;
  background-size: cover;
  height: 94.5vh;
  overflow: hidden;
}

.review_edit_form_button {
  -webkit-appearance: none;
  border: 1px solid #0077b4;
  padding: 10px;
  border: none;
  background-color: #4556b4;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 90%;
}

.review_edit_form_button:hover {
  /* background-color: #11af19; */
  background-color: black;
  color: rgb(8, 255, 8);
  cursor: pointer;
  /* border: 1px solid #00c896ce; */
}

.review_edit_form_delete_button {
  -webkit-appearance: none;
  border: 1px solid #0179b4;
  padding: 10px;
  border: none;
  /* background-color: #fcac00; */
  background-color: #8045df;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 90%;
}

.review_edit_form_delete_button:hover {
  background-color: #000000;
  color: rgb(245, 101, 101);
  cursor: pointer;
  /* border: 1px solid #00c896ce; */
}
