.review_edit_main_container {
  width: 500px;
  height: 225px;
  background-color: beige;
  border-radius: 8px;
}

.review_edit_form_image {
  width: 550px;
  max-height: 800px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  margin-right: 30px;
  /* margin-bottom: 30px; */
}

.review_edit_form_superdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/Burj\ Khalifa.jpg");
  position: relative;
  background-position: bottom;
  background-size: cover;
  height: 94.5vh;
  overflow: hidden;
}

.review_post_form_superdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/grand_canyon.jpg");
  position: relative;
  background-position: bottom;
  background-size: cover;
  height: 94.5vh;
  overflow: hidden;
}
