.login_button {
  border: 1px solid #0077b4;
}

.login_button:hover {
  background-color: #00c896ce;
  border: 1px solid #00c896ce;
}

/* body {
  background-image: url("../../../public/images/golden-gate.jpg");
} */

* {
  padding: 0;
  margin: 0;
}

body {
  color: #212124;
  font-family: Proxima Nova, Helvetica, sans-serif;
  line-height: 1.3;
  overflow-y: hidden;
}

/*
Main_div_login is the main container for the whole page.
*/
.main_div_login {
  background-image: url("../../../public/images/golden-gate.jpg");
  position: relative;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form_case {
  background-color: aliceblue;
  padding: 1.5em;
  border-radius: 0.25rem;
  position: relative;
  width: 22rem;
}

.form_section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3rem);
}

/* nav CSS */

.nav_bar_login {
  height: 3rem;
  background-color: black;
  width: 100%;
}

.nav_container_login {
  margin: auto;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  width: 80%;
  height: 100%;
}

.markr_icon_login {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.markr_link {
  display: flex;
  height: 48px;
}

.markr_link_image {
  width: 98px;
  border-style: none;
  height: 100%;
}
