.login_button {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #0077b4;

  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.login_button:hover {
  background-color: #00c896ce;
  cursor: pointer;
  /* border: 1px solid #00c896ce; */
}

/* body {
  background-image: url("../../../public/images/golden-gate.jpg");
} */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aquamarine;
  color: #212124;
  font-family: Proxima Nova, Helvetica, sans-serif;
  line-height: 1.3;
  /* overflow-y: hidden; */
}

/*
Main_div_login is the main container for the whole page.
*/
.main_div_login {
  background-image: url("../../../public/images/Aztec.jfif");
  position: relative;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form_case {
  background-color: aliceblue;
  padding: 1.5em;
  border-radius: 7px;
  position: relative;
  width: 22rem;
  /* height: 500px; */
}

.form_section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3rem);
}

/* nav CSS */

.nav_bar_login {
  height: 3rem;
  background-color: black;
  width: 100%;
  height: 150px;
}

.nav_container_login {
  margin: auto;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  width: 80%;
  height: 100%;
}

.markr_icon_login {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.markr_link {
  display: flex;
  height: 48px;
}

/* .markr_link_image {
  width: 98px;
  border-style: none;
  height: 30px;
} */

.markr_link_image {
  position: absolute;
  width: 180px;
  border-style: none;
  height: 180px;
  border-radius: 30px;
  /* transform: translateY(100px); */
  transform: translateX(-50px);
}

.form_logo {
  display: flex;
  width: 125px;
  height: 125px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
}

.form_header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_email_input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.login_password_input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

/*
Sign-up
*/

.sign_up_link {
  font-size: small;
  color: #792692;
}
