.signup_section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3rem);
}

.signup_case {
  background-color: aliceblue;
  padding: 1.5em;
  border-radius: 7px;
  position: relative;
  width: 22rem;
}

.main_signup_div {
  background-image: url("../../images/machu_pichu_bright.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 98.5vh;
  overflow: hidden;
}

.signup_input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.signup_button {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #0077b4;

  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.signup_button:hover {
  background-color: #00c896ce;
  cursor: pointer;
  /* border: 1px solid #00c896ce; */
}
