a {
  color: white;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50.9px;
  /* border: 1px solid red; */
}

.left_nav_container {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.center_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
}

.right_container {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-user-circle {
  width: 32px;
  cursor: pointer;
}

.fa-user-circle:hover {
  opacity: 0.8;
}

.profile-dropdown {
  background-color: aliceblue;
}

.dashboard_nav_active {
  border-bottom: 1px solid red;
}

.nav_home {
  font-size: 2em;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}

/* Profile button for logout*/

.logout-btn {
  border: 1.4px solid #a8927a;
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 1.5rem;
  padding: 5px;
  width: 240px;
  font-weight: 700;
  background-color: whitesmoke;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #a8927a;
  background-color: #a8927a;
}

.logout-btn:hover {
  color: #fff;
  transform: scale(1.06);
  cursor: pointer;
}

.logout-btn {
  border: none;
  background: none;
  color: whitesmoke;
  font-size: 25px;
  transition-duration: 0.3s;
}

.logout-btn:hover {
  transform: scale(1.5);
  color: white;
  cursor: pointer;
}

.dashboard_nav_link {
  border: none;
  background: none;
  color: whitesmoke;
  /* font-size: 25px; */
  transition-duration: 0.3s;
  margin-right: 2em;
}

.dashboard_nav_link:hover {
  transform: scale(1.5);
  color: white;
  cursor: pointer;
}

.nav_link_active {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.dashboard_nav_link {
  font-size: 2em;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard_nav_active {
  border-bottom: 1px solid rgb(255, 0, 0);
}
