a {
  color: white;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  /* border: 1px solid red; */
}

.left_nav_container {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.center_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
}

.right_container {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-user-circle {
  width: 32px;
  cursor: pointer;
}

.fa-user-circle:hover {
  opacity: 0.8;
}

.profile-dropdown {
  background-color: aliceblue;
}

.dashboard_nav_active {
  border-bottom: 1px solid red;
}

.nav_link_active {
  border-bottom: 1px solid red;
}

.dashboard_nav_link {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_home {
  text-decoration: none;
}
