.landmark_form_container {
  background-color: white;
  height: 850px;
  width: 50%;
}

.master_form_div {
  display: flex;
  justify-content: center;
}

.div_header_form {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.header_title {
  font-size: x-large;
  font-family: monospace;
}

.post_landmark_form_button {
  width: auto;
  height: auto;
}

.search {
  position: absolute;
  top: 5.8rem;
  left: 61%;
  width: 100%;
  max-width: 250px;
  height: 30px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}
