.landmark_form_container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  /* height: 724px; */
  height: 79rem;
  width: 50%;
}

.master_form_div {
  display: flex;
  justify-content: center;
}

.div_header_form {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.header_title {
  font-size: x-large;
  font-family: monospace;
}

.post_landmark_form_button {
  width: auto;
  height: auto;
}

.search {
  position: absolute;
  top: 5.8rem;
  left: 61%;
  width: 100%;
  max-width: 250px;
  height: 30px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

::-webkit-file-upload-button {
  color: white;
  background-color: #2845c7;
  padding: 0.3em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  cursor: pointer;
}

.master_form_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/statue_of_liberty.jpg");
  position: relative;
  background-position: left;
  background-size: cover;
  height: 94.5vh;
  overflow: hidden;
}

.landmark_form_input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 30em;
}

.textarea {
  width: 420px;
  height: 100px;
}

.combobox_input {
  border-radius: 2px;
  transform: translateY(80px);
}

.powered_by_google {
}

.powered_by_google_container {
  display: flex;
  justify-content: flex-end;
}

.search_input {
  /* transform: translateY(65px); */
  background-color: rgba(145, 143, 143, 0.753);
  border-radius: 5px;
  margin-left: 30px;
  transform: translateY(26px);
}
.search_input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.877);
}
.search_input:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.search_input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.521);
}

.map_input {
  /* border: 1px solid rgb(0, 255, 55); */
}

.combobox {
  /* border: 1px solid rgb(55, 0, 255); */
}

/* writing-mode: horizontal-tb !important;
font-style: ;
font-variant-ligatures: ;
font-variant-caps: ;
font-variant-numeric: ;
font-variant-east-asian: ;
font-weight: ;
font-stretch: ;
font-size: ;
font-family: ;
text-rendering: auto;
color: -internal-light-dark(black, white);
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
appearance: auto;
-webkit-rtl-ordering: logical;
cursor: text;
background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); */
