.landmark_form_container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  height: 724px;
  width: 50%;
}

.master_form_div {
  display: flex;
  justify-content: center;
}

.div_header_form {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.header_title {
  font-size: x-large;
  font-family: monospace;
}

.post_landmark_form_button {
  width: auto;
  height: auto;
}

.search {
  position: absolute;
  top: 5.8rem;
  left: 61%;
  width: 100%;
  max-width: 250px;
  height: 30px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.master_form_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/statue_of_liberty.jpg");
  position: relative;
  background-position: left;
  background-size: cover;
  height: 94.5vh;
  overflow: hidden;
}

.landmark_form_input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.textarea {
  width: 420px;
  height: 100px;
}

.combobox_input {
  border-radius: 2px;
  transform: translateY(80px);
}

.powered_by_google {
}

.powered_by_google_container {
  display: flex;
  justify-content: flex-end;
}
